body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
}

.hero-head{
    background-color: #1f2937;
    width: 100vw;
    padding-left: 15vw;
    padding-right: 15vw;
    box-sizing: border-box;
}

.head-logo{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color:#f9faf8;
    font-weight: 900;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    margin:0px;
    align-items: center;
}

.nav{
    list-style: none;
    margin:0;
    display:flex;
    flex-direction: row;
    gap: 16px;
    align-items: baseline;
}

.nav li {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
}

.hero div {
    width:50%;
    margin-top: 36px;
    
}

.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
}
.hero-text p{
    margin-top: 0px;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.hero-image{
    background-color: #848d9c;
    color:#E5E7EB;
    height:226px;
    width:100%;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-button{
    background-color: #3882f6;
    border: 0px;
    border-radius: 5px;
    padding: 0.5rem 1.6rem 0.5rem 1.6rem;
    color: #E5E7EB;
    font-weight: 900;
}

h1{
    padding: 0px;
    margin: 0px;
}

.info-section{
    padding-left: 15vw;
    padding-right: 15vw;
    color:#1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header{
    font-weight: 900;
    font-size: 36px;
    padding: 36px;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-bottom: 50px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
    width:175px;
}

.item-img{
    height:160px;
    width:160px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.item-text{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.quote-section{
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 40px;
    color:#1f2937
}

.quote{
    font-size: 36px;
    font-weight: 300;
}

.author{
    font-size: 24px;
    font-weight: 900;
    text-align: end;
    margin-right: 40px;
    margin-top: 10px;
}